<section>
  <div class="mt-5"></div>
  <div class="sidenav">
    <nav class="nav flex-column">
      <div class=" m-5" disabled></div>
      <a class="nav-link active" [routerLink]="['./product']">Product</a>
      <a class="nav-link" [routerLink]="['./productcategory']">Create Category</a>
      <a class="nav-link" [routerLink]="['./createCategory']">Bid Coin</a>
      <a class="nav-link" [routerLink]="['./createCategory']">Bid Coin</a>
      <a class="nav-link" [routerLink]="['./createCategory']">Bid Coin</a>

    </nav>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</section>